* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #191a15 url("./assets/images/bg.svg") no-repeat;
    background-size: cover;
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.topo {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.topo > .logo {
    height: 100px;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #0299DA;
    text-decoration: none;
    transition: color 0.2s ease 50ms;
    position: relative;
}

.link::after {
    content: "";
    background-color: #65C1E9;
    width: 0%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: color 0.2s ease 50ms;
    transform-origin: left;
}

.link:hover {
    color: #65C1E9;
}
.link:hover::after {
    width: 100%;
}

.menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2rem;
}

.hero {
    padding: 5rem 0 0 2rem;
    color: #65C1E9;
    filter: drop-shadow(2px 2px 4px rgba(255, 255, 255, 0.3));
}
.hero-title {
    font-weight: 700;
}
.hero-subtitle {
    font-weight: 500;
}

.servicos-container {
    padding: 2rem;
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.servicos {
    position: relative;
    display: flex;
    height: 210px;
    align-items: center;
    font-weight: 100vw;
    width: 100%;
    background-color: rebeccapurple;
    flex-wrap: nowrap;
    justify-content: start;
    gap: 1rem;
}

.card-title {
  background-color: rgba(101,193,233,.8);
  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
  width: 80%;
  padding: 0.5rem;
}
.card-title h1 {
  font-family: 'Montserrat Alternates', sans-serif;
  color: #E93736;
}

.card {
  display: inline-block;
  position: relative;
  width: 270px;
  height: 200px;
  background-size: cover;
}



.card.hardware {
  background-image: url("assets/images/hardware.webp");
}

.card.redes {
  background-image: url("assets/images/redes.webp");
}
